<!-- <nav mat-tab-nav-bar mat-align-tabs="center">
  <img src="assets/Images/logo_nobg.png" alt="App logo" style="width:80px;background-color: #00b4d8;">
  <span class="example-spacer"></span>

  <a mat-tab-link *ngFor="let link of links" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
  <mat-icon class="example-tab-icon" (click)="logout()">logout</mat-icon> 

</nav> -->
<!-- <div class="toolbartabs">
  <div class="tabs" *ngFor="let tab of tabs" (click)="tabselection(tab)"
    [ngClass]="{'background-color':applyActiveLinkBasedOnRoute(tab)}">
    {{tab}}
  </div>

</div> -->
<div>
  <router-outlet></router-outlet>
</div>